/* Fonts */
:root {
  --default-font: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Raleway",  sans-serif;
  --nav-font: "Inter",  sans-serif;
}

:root { 
  --background-color: black; /* Background color for the entire website, including individual sections */
}
/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}


/*--------------------------------------------------------------
General Styling
--------------------------------------------------------------*/

.main-content { 
  --breakpoint: "xs";
  --grid-gutter: 16px;
  --grid-columns: 6;
  --grid-margin: 20px;
  --max-width: calc(1912px - 80px);
  --container-width: auto;
  --bg-design-grid: rgba(127, 255, 255, 0.25);
  flex-grow: 1; /* Allows main content to take up available space */
}

.sections-container { 
  z-index: 0;
  position: relative;
  background-color: #111111;
  margin: 0 auto; /* Center the content */
  max-width: var(--max-width);
  margin-left: var(--grid-margin);
  margin-right: var(--grid-margin);
}
.site-footer{
  color: #111111;
  background-color: #ffffff;
  border-color: #e5e5e5;
}

/* Media query adjustments (unchanged, but now targeting .sections-container) */
@media screen and (min-width: 900px) {
  .sections-container {
      --breakpoint: "lg";
      --grid-columns: 12;
      --grid-margin: 32px;
  }
}
